h1 {
    text-align: center;
}

p {
    text-align: center
}

.centerdiv {
    text-align: center;
}

* {
    border: 1px solid red
}

.centerdiv input[type="number"] {
    color: blue;
    min-width: 134px;
}